html,body {
    margin: 10px;
    font-family: 'Arial', sans-serif;
}

.new_product_container {
    height: 100%;
    background: #DFD;
    margin: 40px;
    border: 1px solid #DDD;
    padding: 0 20px 20px;
    border-radius: 15px;
}

.new_product_container div {
    padding-bottom: 10px;
}

.new_product_info tr td {
    vertical-align: top;
}

.products_container {
    margin: 40px;
}

label.field {
    text-align: right;
    margin-right: 10px;
    width: 200px;
    float: left;
    font-weight: bold;
}

.error_input {
    border: 2px solid red;
}

.hide {
    display: none;
}

button {
    border: none;
    border-radius: 6px;
    min-width: 80px;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    font-weight: lighter;
    background-color: #7D7D7D;
}

input {
    min-width: 200px;
    padding: 2px;
}

#product-image {
    width: 50px;
    height: 50px;
}
