html,body {
    margin: 10px;
    font-family: 'Arial', sans-serif;
}

.new_product_container {
    height: 100%;
    background: #DFD;
    border: 1px solid #009;
    padding: 10px;
    margin: 40px;
}

.new_product_container div {
    padding-bottom: 10px;
}

.new_product_info tr td {
    vertical-align: top;
}

.products_container {
    margin: 40px;
}

label.field {
    text-align: right;
    margin-right: 10px;
    width: 200px;
    float: left;
    font-weight: bold;
}

.form-error {
    padding: 20px;
    color: red;
}

.error-field {
    border: 2px solid red;
}
